:root {
    --ss-primary-text: var(--ss-color-gray-05);
    --ss-secondary-text: var(--ss-color-gray-100);
    --ss-success-text: var(--ss-color-gray-05);
    --ss-danger-text: var(--ss-color-gray-05);
    --ss-ghost-text: var(--ss-color-gray-100);
}
